
@{
    ViewBag.Title = "ThanhToanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebOrganicFood.Models;
@model WebOrganicFood.Models.DonHang
<h2>Trang thanh toán</h2>
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
@using (Html.BeginForm("DatHang", "GioHang", new { @class = "" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDonHang)

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Tên người đặt hàng  </b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NguoiDung.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NguoiDung.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Ngày đặt</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control"    , @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Tổng tiền thanh toán  </b></div>

            <div class="col-md-9">
                <h3 class="text-danger"> @String.Format("{0:0,0}", @ViewBag.tongtien) VNĐ </h3>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Địa chỉ nhận hàng</b></div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.DiaChiNhanHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiNhanHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Phương thức thanh toán  </b></div>

            <div class="col-md-9">
                @Html.DropDownList("MaTT", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-3 Bold"> <b> 	Ghi chú  </b></div>

            <div class="col-md-9 text-danger">
                -  Đối với thanh toán bằng tiền mặt. Sản phẩm giao đến quý khách, quý khách kiểm tra sản phẩm sau đó thanh toán cho nhân viên ship.
                <br />
                - Đối với thanh toán chuyển khoản:
                Quý khách chuyển khoản vào tài khoản : 0937187003. Chủ tài khoản: Trần Minh Nhựt. Ngân hàng Momo
                <br />
                - Nội dung chuyển khoản điền theo mẫu: Họ tên , số điện thoại, Thanh toán mua hàng Organic Food.
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đặt hàng ngay" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

